@use '../../App.scss' as g;

.come_as_btn {
    position: fixed; // 화면에 고정
    top: 50%; // 하단 위치
    left: -10px; // 우측 위치
    transform: translateX(-50%);
    z-index: 1000; // 다른 요소 위
    transition: all 0.3s;

    button {
        height: 5rem;
        width: 20rem;
        font-size: 1.6rem;
        font-weight: 800;
        color: #fff;
        margin-bottom: 20px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transform: rotate(-90deg);
        background: linear-gradient(135deg, g.$mainColor 0%, #b0d96e 100%);
        box-shadow: 0 4px 15px rgba(102, 222, 27, 0.3);
    }
    &:hover {
        left: 20px;
        transform: translateX(-50%);
    }
}
