@use '../../App.scss' as g;

.come_as_btn {
    position: fixed; // 화면에 고정
    top: 50%; // 하단 위치
    left: -10px; // 우측 위치
    transform: translateX(-50%);
    z-index: 1000; // 다른 요소 위

    button {
        height: 5rem;
        width: 20rem;
        background: g.$mainColor;
        font-size: 1.6rem;
        font-weight: 800;
        color: #fff;
        margin-bottom: 20px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        // transition: background 0.3s;
        transform: rotate(-90deg);
    }
    &:hover {
        left: 20px;
        transform: translateX(-50%);
        button {
            background: darken(g.$mainColor, 10%);
        }
    }
}
