@use '/src/App.scss' as g;

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.footer_rolling {
    border-radius: 4rem 4rem 0 0;
    background-color: g.$mainColor;
    display: flex;
    flex: 0 0 100%;
    overflow: hidden;
    .group {
        @include g.flex($gap: 100px);
        padding: 2rem 5rem 0;
        white-space: nowrap;
        animation: scroll 15s linear infinite;
        p {
            span {
                display: inline-block;
                font-weight: 600;

                &:nth-child(1) {
                    font-size: 12rem;
                    font-weight: 600;
                }
                &:nth-child(2) {
                    font-size: 16rem;
                    font-weight: 600;
                }
                &:nth-child(3) {
                    font-size: 3rem;
                    vertical-align: 60px;
                }
            }
        }
    }
}
