@use '/src/App.scss' as g;

footer {
    > .wide_inner {
        background-color: g.$mainColor;
        .footer_left {
            font-size: 2rem;
            font-weight: 600;
            li {
                padding: 0.8rem 0;
            }
        }

        .footer_right {
            display: flex;
            flex-direction: column;
            gap: 3.2rem;
            padding: 4rem 0;
            .sns_img_box {
                @include g.flex();
            }
            .copy-text {
                text-align: center;
                font-size: 2rem;
                font-weight: 600;
            }
        }
    }

    .footer_bottom {
        > .wide_inner {
            @include g.flex($jc: flex-start);
            background-color: #fff;
            max-width: 100vw;
            height: 6rem;
            margin: 0 auto;
            line-height: 6rem;
            // padding: 3rem 2.5%;
            font-size: 2rem;
            font-weight: 600;
            span {
                color: g.$mainColor;
                padding: 0 0 0 4rem;
            }
        }
    }
}
