@use '../../App.scss' as g;

header {
    height: 7rem;
    background: rgba($color: #eee, $alpha: 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    border-bottom: 1px solid #eee;

    .wide_inner {
        line-height: 7rem;

        .header_left {
            @include g.flex();

            .logo {
                width: 15rem;
                a {
                    img {
                        width: 15rem;
                    }
                }
            }

            nav {
                // position: relative;
                .main_menu {
                    @include g.flex();

                    li {
                        a {
                            font-size: 1.8rem;
                            font-weight: bold;
                            padding: 1rem 2rem;
                            height: 8rem;
                        }
                    }

                    .collabs {
                        color: g.$mainColor;
                    }
                }
                .depth_wrap {
                    .depth1 {
                        // display: none;
                        background: rgba($color: #eee, $alpha: 0.4);
                        width: 100%;
                        height: 48rem;
                        position: absolute;
                        left: 0;
                        top: 7rem;
                        border-radius: 0 0 1rem 1rem;
                        @include g.flex();
                        .depth1_left {
                            padding: 0 5rem 0;
                            .depthmenu {
                                @include g.flex($fd: column);
                                li {
                                    a {
                                        display: block;
                                        width: 20rem;
                                        height: 4.4rem;
                                        line-height: 4.4rem;
                                        background-color: #66de1b;
                                        border-radius: 1rem;
                                        // font-size: 1.8rem;
                                        font-weight: 600;
                                        color: g.$subColor;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .header_right {
            .gnb_wrap {
                @include g.flex();
                .gnb_left {
                    @include g.flex();
                    li {
                        a {
                            font-size: 1.8rem;
                            font-weight: bold;
                            padding: 1rem 2rem;
                            height: 8rem;
                        }
                    }
                    .brand {
                        color: #66de1b;
                    }
                }

                .gnb_right {
                    @include g.flex($gap: 1rem);
                    li {
                        // a,
                        // button {
                        //     height: 8rem;
                        // }
                        button {
                            @include g.flex($jc: center);
                            padding: 0;
                            line-height: 8rem;
                        }
                    }
                }
            }
        }
    }
}
