@use '../../App.scss' as g;

.header_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 7rem; // 기본 헤더 높이
        background: rgba($color: #eee, $alpha: 0.4);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        // transition: height 0.3s ease, border-radius 0.3s ease;
        z-index: -1;
    }

    &.open::before {
        height: 51rem; // 7rem + 44rem
        border-radius: 0 0 1rem 1rem;
    }

    header {
        // height: 7rem;
        // background: rgba($color: #eee, $alpha: 0.4);
        // backdrop-filter: blur(6px);
        // -webkit-backdrop-filter: blur(6px);
        // position: fixed;
        // top: 0;
        // left: 0;
        // z-index: 1000;
        // width: 100%;
        height: 7rem;
        background: transparent; // 투명하게 변경
        // backdrop-filter 제거
        width: 100%;

        .wide_inner {
            line-height: 7rem;

            .header_left {
                @include g.flex();

                .logo {
                    width: 15rem;
                    a {
                        img {
                            width: 15rem;
                        }
                    }
                }

                nav {
                    .main_menu {
                        @include g.flex();

                        > li {
                            > a {
                                font-size: 1.8rem;
                                font-weight: bold;
                                padding: 1rem 2rem;
                                height: 8rem;
                            }
                        }

                        .collabs {
                            color: g.$mainColor;
                        }
                    }
                    // .depth_wrap {
                    //     .depth1 {
                    //         @include g.flex();
                    //         background: rgba($color: #eee, $alpha: 0.4);
                    //         backdrop-filter: blur(6px);
                    //         -webkit-backdrop-filter: blur(6px);
                    //         background-color: aqua;
                    //         width: 100%;
                    //         height: 44rem;
                    //         position: absolute;
                    //         left: 0;
                    //         top: 7rem;
                    //         border-radius: 0 0 1rem 1rem;
                    //         z-index: 10;

                    //         .depth1_left {
                    //             padding: 0 10rem 0;
                    //             .depthmenu {
                    //                 @include g.flex($fd: column, $gap: 1.2rem);
                    //                 li {
                    //                     a {
                    //                         display: block;
                    //                         width: 24rem;
                    //                         height: 4.4rem;
                    //                         line-height: 4.4rem;
                    //                         // background-color: #66de1b;
                    //                         background: #ccc;
                    //                         border-radius: 1rem;
                    //                         // font-size: 1.8rem;
                    //                         font-weight: 600;
                    //                         color: g.$subColor;
                    //                         text-align: center;

                    //                         &.active {
                    //                             background: g.$mainColor;
                    //                         }
                    //                     }

                    //                     &.collabs {
                    //                         a {
                    //                             color: g.$mainColor;
                    //                         }
                    //                     }
                    //                 }
                    //             }
                    //         }

                    //         // 원래 코드
                    //         // .depth1_right {
                    //         //     margin: 0 auto;
                    //         //     position: relative;
                    //         //     .submenu_wrap {
                    //         //         .menu_title {
                    //         //             position: absolute;
                    //         //             left: -16rem;
                    //         //             top: -1.2rem;
                    //         //             font-weight: 900;
                    //         //             font-size: 2rem;
                    //         //         }
                    //         //         .submenu {
                    //         //             @include g.flex($gap: auto, $fw: wrap, $jc: none);
                    //         //             gap: 4rem 4rem; // 세로 1.2rem, 가로 2rem
                    //         //             // padding: 1rem;
                    //         //             border-radius: 1rem;
                    //         //             max-width: 100rem;

                    //         //             li {
                    //         //                 a {
                    //         //                     @include g.flex($fd: column, $gap: 0.5rem);
                    //         //                     background: #ddd;
                    //         //                     width: 28rem;
                    //         //                     height: 16rem;
                    //         //                     border-radius: 1rem;
                    //         //                     img {
                    //         //                         height: 12rem;
                    //         //                     }
                    //         //                     span {
                    //         //                         height: 2.8rem;
                    //         //                         line-height: 1.6rem;
                    //         //                         font-weight: 700;
                    //         //                     }
                    //         //                 }
                    //         //             }
                    //         //         }
                    //         //     }
                    //         // }

                    //         // 상단 고정 됨
                    //         // .depth1_right {
                    //         //     margin: 0 auto;
                    //         //     position: relative;

                    //         //     .submenu_wrap {
                    //         //         position: relative;

                    //         //         .menu_title {
                    //         //             position: absolute;
                    //         //             left: -16rem;
                    //         //             top: 0;
                    //         //             font-weight: 900;
                    //         //             font-size: 2rem;
                    //         //         }

                    //         //         .submenu {
                    //         //             @include g.flex($gap: auto, $fw: wrap, $jc: flex-start);
                    //         //             gap: 4rem 4rem;
                    //         //             border-radius: 1rem;
                    //         //             max-width: 100rem;
                    //         //             height: 36rem; // 고정 높이 (아이템 1줄: 16rem, 2줄: 36rem)
                    //         //             // 또는
                    //         //             // height: 56rem; // 3줄까지 표시

                    //         //             // 넘치는 경우 처리
                    //         //             overflow: hidden; // 숨김
                    //         //             // 또는
                    //         //             // overflow-y: auto; // 스크롤

                    //         //             align-content: flex-start; // 위쪽부터 배치

                    //         //             li {
                    //         //                 a {
                    //         //                     @include g.flex($fd: column, $gap: 0.5rem);
                    //         //                     background: #ddd;
                    //         //                     width: 28rem;
                    //         //                     height: 16rem;
                    //         //                     border-radius: 1rem;

                    //         //                     img {
                    //         //                         height: 12rem;
                    //         //                     }
                    //         //                     span {
                    //         //                         height: 2.8rem;
                    //         //                         line-height: 1.6rem;
                    //         //                         font-weight: 700;
                    //         //                     }
                    //         //                 }
                    //         //             }
                    //         //         }
                    //         //     }
                    //         // }

                    //         .depth1_right {
                    //             margin: 0 auto;
                    //             position: relative;

                    //             .submenu_wrap {
                    //                 position: relative;

                    //                 .menu_title {
                    //                     position: absolute;
                    //                     left: -12rem;
                    //                     top: 0;
                    //                     font-weight: 900;
                    //                     font-size: 2rem;
                    //                 }

                    //                 .submenu {
                    //                     @include g.flex($gap: auto, $fw: wrap, $jc: flex-start);
                    //                     gap: 4rem 4rem;
                    //                     border-radius: 1rem;
                    //                     width: 100rem; // max-width → width로 변경
                    //                     height: 36rem;
                    //                     overflow: hidden;
                    //                     align-content: flex-start;

                    //                     li {
                    //                         a {
                    //                             @include g.flex($fd: column, $gap: 0.5rem);
                    //                             background: #ddd;
                    //                             width: 28rem;
                    //                             height: 16rem;
                    //                             border-radius: 1rem;

                    //                             img {
                    //                                 height: 12rem;
                    //                             }
                    //                             span {
                    //                                 height: 2.8rem;
                    //                                 line-height: 1.6rem;
                    //                                 font-weight: 700;
                    //                             }
                    //                         }
                    //                     }
                    //                 }
                    //             }
                    //         }
                    //     }
                    // }
                }
            }

            .header_right {
                .gnb_wrap {
                    @include g.flex();
                    .gnb_left {
                        @include g.flex();
                        li {
                            a {
                                font-size: 1.8rem;
                                font-weight: bold;
                                padding: 1rem 2rem;
                                height: 8rem;
                            }
                        }
                        .brand {
                            color: g.$mainColor;
                        }
                    }

                    .gnb_right {
                        @include g.flex($gap: 1rem);
                        li {
                            button {
                                @include g.flex($jc: center);
                                padding: 0;
                                line-height: 8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
