@use "../../App.scss" as g;

.product_list_wrap {
  @include g.flex($ai: unset, $jc: unset);
  .list_left {
    .left_nav_wrap {
      color: g.$subColor;
    }
    .left_nav {
      width: 32.4rem;
      height: fit-content;
      display: flex;
      flex-direction: column;
      gap: 2.8rem;
      padding: 2.8rem 1.6rem;
      border-radius: 1rem;
      background-color: #fafafd;
      .filter-menu__wrap {
        gap: 2rem;
      }
      .filter_list_menu {
        width: 100%;
        .filter_menu_btn {
          display: flex;
          align-items: center;
          gap: 0.6rem;
          cursor: pointer;
          .close-btn {
            width: 1.2rem;
            height: 1.2rem;
          }
        }
      }
    }
  }
  .list_right {
    .product_list_card_wrap {
      max-width: 1116px;
      .product_list_card_list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .product_list_card {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          box-sizing: border-box;
          border-radius: 10px;
          padding: 2rem 2rem;
          transition: all 0.3s ease;
          cursor: pointer; // 추가
          pointer-events: auto; // 추가
          &:hover {
            outline: 1px solid #cccccc;
            box-shadow: 0 0 12px 2.5px rgba(0, 0, 0, 0.08);
            transform: translateY(-0.4rem);
          }
          .product_list_card_imgbox {
            width: 100%;
            aspect-ratio: 4/5;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            text-align: center;
            > img {
              width: 50%;
              object-fit: contain;
            }

            .product_list_card_imgbox,
            .product_list_card_name_wrap,
            .product_list_card_price_wrap {
              pointer-events: none; // 자식 요소는 클릭 이벤트 전파하지 않게
            }
          }
        }
      }
      // .pager {
      // }
    }
  }
}
