@charset "UTF-8";
html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
}

body.open {
  overflow: hidden;
}

.blind {
  display: block;
  overflow: hidden;
  position: absolute !important;
  left: -9999px;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

#wrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
#wrap .wrap {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
  width: 100% !important;
  margin: 0 auto;
}

#container {
  background: repeating-linear-gradient(45deg, rgba(128, 193, 66, 0.7) 0%, rgba(140, 242, 230, 0.7) 24%, rgba(249, 255, 200, 0.7) 50%, rgba(140, 242, 230, 0.7) 74%, rgba(128, 193, 66, 0.7) 100%);
  position: relative;
  padding-top: 100px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  height: 100%;
}
#container #contents {
  position: relative;
  height: 100vh;
}
#container #contents .title_wrap {
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}
#container #contents .title_wrap > h2 {
  font-size: 60px;
}
#container #contents .title_wrap > p {
  color: #444444;
}
#container #contents:before {
  left: 50%;
  margin-left: -320px;
}
#container #contents:after {
  right: 50%;
  margin-right: -320px;
}
#container #contents .circle_main {
  padding: 20px;
}

.circle_slider {
  position: relative;
  min-height: 600px;
  z-index: 100;
}
.circle_slider:before, .circle_slider:after {
  content: "";
  position: absolute;
  top: 0px;
  width: 600px;
  height: 150vh;
  margin-top: -70px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.circle_slider:before {
  right: 45%;
  margin-right: 450px;
  background-position: right center;
}
.circle_slider:after {
  left: 50%;
  margin-left: 360px;
  background-position: left center;
}

.circle_slides {
  position: absolute;
  left: 50%;
  top: 60%;
  width: 1440px;
  margin-top: -450px;
  margin-left: -720px;
}

.circle_item {
  width: 600px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  opacity: 0;
}
.circle_item .slide_btns {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 9999;
  pointer-events: none; /* 버튼 외 다른 영역 클릭이 막히지 않도록 */
}
.circle_item .slide_btns button {
  pointer-events: auto;
  position: absolute;
  font-size: 15px;
  font-weight: 600;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(-50%);
  /* Prev 버튼 (왼쪽) */
  /* Next 버튼 (오른쪽) */
}
.circle_item .slide_btns button p {
  margin: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  pointer-events: none;
}
.circle_item .slide_btns button:before, .circle_item .slide_btns button:after {
  content: "";
  position: absolute;
  top: -12px;
  width: 40px;
  height: 1px;
  background-color: rgb(51, 51, 51);
  transition: transform 0.35s cubic-bezier(0.2, 0.9, 0.2, 1), width 0.25s ease, opacity 0.25s ease;
  opacity: 1;
  pointer-events: none;
}
.circle_item .slide_btns button.prev_btn {
  left: -170px;
  transform: rotate(-90deg);
  transform-origin: center;
  /* 가운데에서 before / after 배치 왼/오 */
  /* hover 45도 회전 */
}
.circle_item .slide_btns button.prev_btn::before {
  left: 50%;
  transform-origin: left center;
}
.circle_item .slide_btns button.prev_btn::after {
  right: 50%;
  transform-origin: right center;
}
.circle_item .slide_btns button.prev_btn:hover p {
  transform: translateY(-6px);
  opacity: 0;
}
.circle_item .slide_btns button.prev_btn:hover::before {
  transform: rotate(45deg);
}
.circle_item .slide_btns button.prev_btn:hover::after {
  transform: rotate(-45deg);
}
.circle_item .slide_btns button.next_btn {
  right: -50px;
  transform: rotate(90deg);
  transform-origin: center;
  /* hover 45회전 */
}
.circle_item .slide_btns button.next_btn::before {
  left: 50%;
  transform-origin: left center;
}
.circle_item .slide_btns button.next_btn::after {
  right: 50%;
  transform-origin: right center;
}
.circle_item .slide_btns button.next_btn:hover p {
  transform: translateY(-6px);
  opacity: 0;
  z-index: 9999;
}
.circle_item .slide_btns button.next_btn:hover::before {
  transform: rotate(45deg);
  z-index: 9999;
}
.circle_item .slide_btns button.next_btn:hover::after {
  transform: rotate(-45deg);
  z-index: 9999;
}
.circle_item.active {
  opacity: 1;
}
.circle_item.active.center {
  transform: translateX(-50%) scale(1.1);
  position: relative;
}
.circle_item.active.center .item {
  width: 500px;
  margin-left: -60px;
}
.circle_item.active.center .goods_wrap {
  bottom: 100px;
}
.circle_item.active.center .goods_txt {
  opacity: 1;
  transform: scale(1);
  z-index: 10;
}

.item {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 240px;
  height: 800px;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
}

.goods_wrap {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  z-index: 1;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 300px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.goods_pic {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  overflow: hidden;
  width: 120%;
  height: auto;
  min-height: 250px;
  aspect-ratio: 1/1.18;
  border-radius: 0 0 300px 300px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.goods_pic.crocs {
  min-height: 240px;
  aspect-ratio: 1/1;
  border-radius: 400px;
  background: rgba(217, 217, 217, 0.4);
}
.goods_pic img {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 130px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.goods_pic a {
  display: block;
}

.goods_txt {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: -440px;
  top: -100px;
  width: 300px;
  text-align: left;
  word-wrap: normal;
  word-break: keep-all;
  transition: all 0.9s;
  -webkit-transition: all 0.9s;
  opacity: 0;
  transform: scale(0.5);
  z-index: 10;
}
.goods_txt > span {
  display: inline-block;
  vertical-align: middle;
  float: left;
  margin-bottom: 10px;
  font-size: 14px;
  color: #66de1b;
  line-height: 20px;
  text-align: center;
  background: #444444;
  padding: 5px 20px;
  border-radius: 50px;
}
.goods_txt .btn {
  margin-top: 15px;
  display: inline-block;
}
.goods_txt .btn-read {
  display: inline-block;
}
.goods_txt a.btn.middle.arrow {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 20px;
  clear: both;
  background: var(--selectedColor) !important;
  border: var(--selectedColor) !important;
}
.goods_txt > strong {
  display: inline-block;
  vertical-align: middle;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  font-size: 30px;
  color: #444;
  line-height: 40px;
  letter-spacing: -1.5px;
}
.goods_txt .s_color {
  display: inline-block;
  vertical-align: middle;
  float: left;
  width: 100%;
  margin-bottom: 200px;
  font-size: 15px;
  color: #444;
  line-height: 30px;
  letter-spacing: -0.5px;
}
.goods_txt .s_color b {
  color: #64646b;
}
.goods_txt .s_color .swatches {
  display: flex;
  position: relative;
}
.goods_txt .s_color .swatches .swatches_list {
  display: flex;
  gap: 0.25rem;
  margin-top: 10px;
}
.goods_txt .s_color .swatches .swatches_list .swatch_color {
  display: inline-block;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  border: 1px solid currentColor;
  cursor: pointer;
}
.goods_txt .s_color .swatches .swatches_list .swatch_color.active {
  transform: scale(1.2);
}
.goods_txt > a.btn {
  border-color: currentColor !important;
  background-color: currentColor !important;
  color: currentColor !important;
}
.goods_txt > a.btn span {
  color: #fff;
}
.goods_txt > a.btn:before {
  border-color: #fff;
}

.circle_dots {
  position: fixed;
  top: 150%;
  right: 50px;
  transform: translateY(-50%);
  padding: 30px 15px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  z-index: 100;
}
.circle_dots .circle_dot {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}
.circle_dots .circle_dot > span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #dcdce6;
  transition: all 0.3s;
  z-index: 1;
}
.circle_dots .circle_dot.active > span {
  background-color: #74eb8b;
  opacity: 1;
}

.circular {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 0;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  pointer-events: none;
}
.circular .inner {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  width: 28px;
  height: 28px;
  margin: -14px 0 0 -14px;
  background: transparent;
  border-radius: 100%;
}
.circular .bar {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  clip: rect(0px, 30px, 30px, 15px);
}

.circle .bar .progress {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  clip: rect(0px, 15px, 30px, 0px);
  background: #74eb8b;
  opacity: 0.7;
}
.circle .left .progress {
  z-index: 1;
}
.circle .right {
  transform: rotate(180deg);
  z-index: 3;
}

.active .circle .left .progress {
  animation: left 2.5s linear both;
}
.active .circle .right .progress {
  animation: right 2.5s linear both;
  animation-delay: 2.5s;
}

.stop .active .circle .progress {
  animation: none !important;
}

.goods_btn {
  display: inline-block;
  vertical-align: middle;
  position: fixed;
  right: 50px;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: 30px;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 999;
}
.goods_btn .bnt_bg {
  width: 30px;
  height: 30px;
  transform: translateX(-5px);
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: none;
}
.goods_btn.start {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.goods_btn.off {
  opacity: 0;
}
.goods_btn:before, .goods_btn:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 4px;
  height: 10px;
  margin-top: -5px;
  border-radius: 2px;
  background-color: #dbdbe5;
}
.goods_btn:before {
  right: 50%;
  margin-right: 1px;
  z-index: 10;
}
.goods_btn:after {
  left: 50%;
  margin-left: 1px;
  z-index: 10;
}
.goods_btn.stop:before, .goods_btn.stop:after {
  background-color: #a2e88f;
}
.goods_btn svg {
  display: none;
}

.goods_scroll {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 50%;
  bottom: 5%;
  z-index: 9;
  width: 80px;
  height: 80px;
  margin-left: -40px;
}
.goods_scroll a {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100%;
  height: 100%;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  min-width: 120px;
  height: 40px;
  margin: 0 !important;
  padding: 0 25px !important;
  border: rgba(98, 85, 246, 0.2) solid 1px !important;
  border-radius: 40px;
  background: none !important;
  background-color: #fff !important;
  color: #6255f6 !important;
  font-size: 12px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: -0.5px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.btn:hover {
  border-color: rgba(98, 85, 246, 0.5) !important;
}
.btn.middle {
  font-size: 14px;
  line-height: 40px;
}
.btn.arrow {
  text-align: left;
  padding-right: 45px !important;
}
.btn.arrow:before {
  content: "";
  position: absolute;
  right: 22px;
  top: 50%;
  width: 4px;
  height: 4px;
  margin-top: -3px;
  border-top: currentColor solid 2px;
  border-right: currentColor solid 2px;
  transform: rotate(45deg);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.btn.arrow:hover:before {
  right: 19px;
}
.btn span {
  margin: 0 !important;
  padding: 0 !important;
}

@keyframes left {
  100% {
    transform: rotate(180deg);
  }
}
@keyframes right {
  100% {
    transform: rotate(180deg);
  }
}
_:-ms-fullscreen,
:root .goods_wrap {
  height: 240px;
}

_:-ms-fullscreen,
:root .goods_pic {
  height: 280px;
}

_:-ms-fullscreen,
:root .circle_item.active.center .goods_wrap {
  height: 600px;
}

_:-ms-fullscreen,
:root .circle_item.active.center .goods_pic {
  height: 700px;
}

@media all and (max-width: 1680px) {
  #wrap .wrap {
    max-width: 1200px;
  }
  #container {
    padding-top: 80px;
  }
  #container:before {
    margin-left: -300px;
  }
  #container:after {
    margin-right: -300px;
  }
  #container .circle_main {
    margin-top: -130px;
  }
  .circle_slider {
    min-height: 720px;
  }
  .circle_slider:before, .circle_slider:after {
    height: 100vh;
    margin-top: -50px;
  }
  .circle_slider:before {
    margin-right: 340px;
  }
  .circle_slider:after {
    margin-left: 340px;
  }
  .circle_slides {
    width: 1360px;
    height: 720px;
    margin-top: -500px;
    margin-left: -680px;
  }
  .circle_item {
    width: 240px;
    height: 720px;
  }
  .circle_item.active .center .item {
    width: 540px;
    margin-left: -45px;
  }
  .circle_item.active .center .goods_wrap {
    bottom: 90px;
  }
  .item {
    width: 240px;
    height: 720px;
  }
  .goods_wrap {
    bottom: 40px;
  }
  .goods_txt {
    left: -300px;
    width: 300px;
    z-index: 10;
  }
  .goods_txt > strong {
    margin-bottom: 26px;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: -1.3px;
  }
  .goods_txt > p {
    margin-bottom: 35px;
  }
  .slide_btns button {
    width: 60px;
    height: 60px;
    margin-bottom: -30px;
  }
  .slide_btns button:before {
    width: 10px;
    height: 10px;
    margin-top: -6px;
  }
  .slide_btns .prev_btn {
    margin-left: -250px;
  }
  .slide_btns .next_btn {
    margin-right: -300px;
  }
  .goods_btn {
    width: 50px;
    height: 50px;
    transform: translateY(-9999px);
  }
}
@media all and (max-width: 768px) {
  #container {
    padding-top: 50px;
  }
  #container .circle_main {
    margin-top: -100px;
  }
  .circle_slider {
    min-height: 600px;
  }
  .circle_slider:before, .circle_slider:after {
    display: none;
  }
  .circle_slides {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
  }
  .circle_item {
    position: relative !important;
    left: 0 !important;
    width: 100%;
    height: auto;
    transform: none !important;
  }
  .circle_item.active.center .item {
    width: 100%;
    margin: 0;
  }
  .circle_item.active.center .goods_wrap {
    position: relative;
    bottom: auto;
    width: 280px;
    margin: 0 auto;
  }
  .circle_item.active.center .goods_txt {
    position: relative;
    left: 0;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    opacity: 1;
    transform: scale(1);
  }
  .item {
    width: 100%;
    height: auto;
  }
  .goods_pic {
    position: relative;
  }
  .slide_btns button {
    width: 50px;
    height: 50px;
  }
  .slide_btns .prev_btn {
    left: 20px;
    margin-left: 0;
  }
  .slide_btns .next_btn {
    right: 20px;
    margin-right: 0;
  }
  .circle_dots {
    display: none;
  }
  .goods_btn {
    display: none;
  }
}/*# sourceMappingURL=SlideCircle.css.map */