@use "../../App.scss" as g;

.wish_inner {
    padding: 8rem 4rem;
    // overflow: hidden;
    @include g.flex($fd: column, $ai: unset, $jc: unset, $gap: 4rem);
    background: #eee;
    border-radius: 2rem;
    .wish_card_wrap {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 2rem;

        .wish_card {
            @include g.flex($fd: column, $ai: unset);

            .wish_card_imgbox {
                position: relative;
                @include g.flex($jc: center, $ai: center);
                width: 100%;
                aspect-ratio: 1/1;
                border-radius: 1rem;
                border: 1px solid #eee;
                background: white;
                overflow: hidden;
                cursor: pointer;

                &:hover {
                    border: 1px solid g.$mainColor;
                }

                img {
                    width: 50%;
                    height: 50%;
                    object-fit: contain;
                }
                input {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    cursor: pointer;
                    // gap: 1rem;
                    width: 1.8rem;
                    height: 1.8rem;
                    cursor: pointer;
                    margin-right: 8px;
                    accent-color: g.$mainColor;
                }
            }
            .wish_card_textbox {
                width: 100%;
                padding: 0 1rem;
                cursor: pointer;
                .wish_card_price {
                    @include g.flex();
                    margin: 1rem 0;
                }
                p {
                    :nth-child(2) {
                        color: #9e9e9e;
                        text-decoration: line-through;
                        font-size: 1.4rem;
                    }
                }
                .price_bottom {
                    color: g.$mainColor;
                    font-weight: 600;
                }
            }
        }
    }
    .pager_btn {
        text-align: center;
    }
    .wish_select {
        @include g.flex($jc: unset);
        button {
            background: g.$subColor;
            border-radius: 5rem;
            color: g.$mainColor;
            &:hover {
                background: g.$mainColor;
                color: g.$subColor;
            }
        }
    }
}
