// WomenProductList 컴포넌트 스타일
.product-card__section_wrap {
    .product-card__wrap {
        .product-card__item_list {
            display: flex;
            flex-wrap: wrap;
            gap: 1.6rem;
        }
    }
}
