// WomenPriceMenu 컴포넌트 스타일
@use '../../App.scss' as g;

%menu_wrap-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    width: 100%;
}

.title--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;

    .title {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .title--toggle {
        width: 2.4rem;
        height: 2.4rem;
        
        button {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: transparent;
            border: none;
            cursor: pointer;
            
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.price-menu {
    &__wrap {
        @extend %menu_wrap-style;
        gap: 1.2rem;

        &--price-range {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
        }
    }
}
