// WomenColorBadge 컴포넌트 스타일
.color-badge {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease;
    
    &:hover {
        transform: scale(1.2);
    }
    
    &--black {
        background-color: #000;
    }
    &--brown {
        background-color: rgba(150, 105, 74, 1);
    }
    &--navy {
        background-color: #043896;
    }
    &--pink {
        background-color: #ff69b4;
    }
    &--gray {
        background-color: #cccccc;
    }
    &--white {
        background-color: #ffffff;
        border: 1px solid #ccc;
    }
    &--red {
        background-color: #ff0000;
    }
    &--orange {
        background-color: #ffcc00;
    }
    &--purple {
        background-color: #dbb2ff;
    }
    &--yellow {
        background-color: #ffff00;
    }
    &--mint {
        background-color: #aaf0d1;
    }
    &--light-green {
        background-color: #ccff99;
    }
    &--green {
        background-color: #00cd00;
    }
    &--sky-blue {
        background-color: #9ad2ff;
    }
    &--blue {
        background-color: #0000ff;
    }
}
