// WomenProductName 컴포넌트 스타일
@use '../../App.scss' as g;

.product-card__name--warp {
    width: 32.8rem;
    height: 4.5rem;
    
    p {
        width: 100%;
        font-size: 2.4rem;
        font-weight: 400;
        color: g.$subColor;
        line-height: 2.9rem;
    }
}
