// WomenSizeButton 컴포넌트 스타일
@use '../../App.scss' as g;

.size--btns__item {
    width: 4.8rem;
    height: 2.3rem;
    font-size: 1.1rem;
    font-weight: 400;
    color: #cccccc;
    font-family: 'all-round-gothic', sans-serif;

    .size--btns__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border: 1px solid #ebebeb;
        border-radius: 4px;
        color: #cccccc;
        background-color: #ffffff;
        transition: all 0.2s ease;
        position: relative;

        .size--btns__button {
            width: 100%;
            height: 100%;
            font-size: 1.1rem;
            font-weight: 400;
        }

        &:hover {
            border: 1px solid g.$mainColor;
            color: g.$mainColor;
        }

        &.active {
            background-color: g.$mainColor;
            border: 1px solid g.$mainColor;
            color: g.$subColor;
        }

        &.sold-out {
            color: #ebebeb;
            background-color: #f9f9f9;
            cursor: not-allowed;
            pointer-events: none;

            .sold-out-line {
                position: absolute;
                width: 2.5rem;
                height: 0.15rem;
                background-color: #ebebeb;
                transform: rotate(-45deg);
            }
        }
    }
}
