// WomenPriceRange 컴포넌트 스타일
@use '../../App.scss' as g;

.price-menu__item {
    width: 100%;
    height: 2.8rem;

    .price-menu__link {
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid #ebebeb;
        border-radius: 4px;
        background-color: #fff;
        transition: all 0.2s ease;
        color: #ccc;

        .price-menu__button {
            width: 100%;
            height: 100%;
            font-size: 1rem;
            font-weight: 600;
            line-height: 2.8rem;
            transition: color 0.2s ease;
        }

        &:hover {
            border: 1px solid g.$mainColor;
            color: g.$mainColor;
        }

        &.active {
            background-color: g.$mainColor;
            border: 1px solid g.$mainColor;
            color: g.$subColor;
        }
    }
}
