// WomenSizeMenu 컴포넌트 스타일
@use '../../App.scss' as g;

%btn-menu-style {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    background-color: #fff;
    transition: all 0.2s ease;
    color: #ccc;

    .btn-menu__button {
        width: 100%;
        height: 100%;
        font-size: 1rem;
        font-weight: 600;
        line-height: 2.8rem;
        transition: color 0.2s ease;
    }

    &:hover {
        border: 1px solid g.$mainColor;
        color: g.$mainColor;
    }

    &.active {
        background-color: g.$mainColor;
        border: 1px solid g.$mainColor;
        color: g.$subColor;
    }
}

%menu_wrap-style {
    @include g.flex($jc: null, $ai: center, $fd: column, $fw: null, $gap: 2.4rem);
    width: 100%;

    &--title_wrap,
    .title--wrap {
        @include g.flex($jc: space-between, $ai: center, $fd: null, $fw: null, $gap: 2rem);
        width: 100%;

        &--title .title {
            font-size: 1.8rem;
            font-weight: 600;
        }

        &--title__toggle .title--toggle {
            width: 2.4rem;
            height: 2.4rem;
        }
    }
}

.size-menu {
    &__wrap {
        @extend %menu_wrap-style;

        &--size {
            @include g.flex(
                $jc: flex-start,
                $ai: center,
                $fd: row,
                $fw: wrap,
                $gap: 0.8rem
            );

            .size-menu__item {
                width: 5.2rem;
                height: 2.8rem;

                .size-menu__link {
                    @extend %btn-menu-style;
                }
            }
        }
    }
}
