// WomenColorMenu 컴포넌트 스타일
@use '../../App.scss' as g;

%menu_wrap-style {
    @include g.flex($jc: null, $ai: center, $fd: column, $fw: null, $gap: 2.4rem);
    width: 100%;

    &--title_wrap,
    .title--wrap {
        @include g.flex($jc: space-between, $ai: center, $fd: null, $fw: null, $gap: 2rem);
        width: 100%;

        &--title .title {
            font-size: 1.8rem;
            font-weight: 600;
        }

        &--title__toggle .title--toggle {
            width: 2.4rem;
            height: 2.4rem;
        }
    }
}

.color-menu {
    &__wrap {
        @extend %menu_wrap-style;
    }
}

.select__color--wrap {
    width: 100%;
    @include g.flex(
        $jc: space-between,
        $ai: center,
        $fd: row,
        $fw: wrap,
        $gap: 1.5rem 3rem
    );

    &_list {
        gap: 0.6rem;
        
        .select__color--link {
            @include g.flex(
                $jc: null,
                $ai: center,
                $fd: column,
                $fw: null,
                $gap: 0.6rem
            );
            width: 3.2rem;
            font-size: 11px;
            font-weight: 400;

            .color_select {
                width: 2.4rem;
                height: 2.4rem;
                border-radius: 50%;
            }
            
            .black {
                background-color: #000;
            }
            .gray {
                background-color: #cccccc;
            }
            .white {
                background-color: #ffffff;
                border: 1px solid #ccc;
            }
            .red {
                background-color: #ff0000;
            }
            .pink {
                background-color: #ff69b4;
            }
            .brown {
                background-color: #aa6400;
            }
            .orange {
                background-color: #ffcc00;
            }
            .purple {
                background-color: #dbb2ff;
            }
            .yellow {
                background-color: #ffff00;
            }
            .mint {
                background-color: #aaf0d1;
            }
            .light-green {
                background-color: #ccff99;
            }
            .green {
                background-color: #00cd00;
            }
            .sky-blue {
                background-color: #9ad2ff;
            }
            .blue {
                background-color: #0000ff;
            }
            .navy {
                background-color: #043896;
            }
        }
    }
}
