@use "../../App.scss" as g;

.brand_page {
  position: relative;
  // background: #f4dee5;
  .brand_banner_wrap {
    position: absolute;
    top: 7rem;
    left: 0;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
    .brand_title_wrap {
      width: 100%;
      height: 130px;
      background: #f4dee5;
      .title_video_wrap {
        max-width: 640px;
        max-height: 130px;
        margin: 0 auto;
        outline: 3px solid #f4dee5;
        outline-offset: -3px;

        video {
          display: block;
          width: 100%;
          height: 100%;
          // background: 0;

          outline: none;
          border: none;
        }
      }
    }
  }

  .inner {
    position: relative;
    padding-top: 800px;

    .about_crocs_wrap {
      @include g.flex($gap: 5rem);

      div {
        flex: 1;
      }
      .img_box {
        width: fit-content;
        img {
          width: 100%;
          border-radius: 1rem;
        }
      }

      .text_box {
        @include g.flex($fd: column, $ai: flex-start);
        .about_title {
          font-size: 3.6rem;
        }
        .about_text {
          font-size: 1.8rem;
          line-height: 1.6;
          text-align: justify;

          .about_title {
            font-size: 2rem;
          }
        }
      }
    }

    .jibbitz {
      position: absolute;
      animation: float 4s ease-in-out infinite;
    }

    .jibbitz_img1 {
      right: 5%;
      top: 25%;
      width: 20rem;
      animation-delay: 0s;
    }

    .jibbitz_img2 {
      left: 0;
      top: 60%;
      width: 15rem;
      animation-delay: 1s;
      animation-duration: 5s;
    }

    .jibbitz_img3 {
      right: 0;
      bottom: 30%;
      width: 12rem;
      animation-delay: 3s;
      animation-duration: 3s;
    }

    .jibbitz_img4 {
      left: 15%;
      bottom: 15%;
      width: 15rem;
      animation-delay: 3s;
      animation-duration: 3s;
    }

    // 둥둥 뜨는 keyframes 정의
    @keyframes float {
      0% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(-15px); // 위로 살짝 이동
      }
      100% {
        transform: translateY(0px);
      }
    }
  }
}
