@use '../../App.scss' as g;

.inner {
    .join_wrap {
        max-width: 1000px;
        margin: 0 auto;
        box-shadow: 0 30px 60px rgba(20, 20, 21, 0.06);
        border-radius: 1rem;
        padding: 5rem 10rem 20rem;
        .title_wrap {
            text-align: center;
        }
        .login_sns_wrap {
            margin: 4rem 0;
            img {
                width: 3.6rem;
            }
        }
    }
}