@use '../../App.scss' as g;

.login_wrap {
    max-width: 1200px;
    margin: 0 auto;
    // box-shadow: ;
    text-align: center;

    .login_form {
        padding-top: 2rem;
        @include g.flex($fd: column, $gap: 1rem);
        width: 400px;
        margin: 0 auto;

        > input {
            width: 40rem;
            height: 4rem;
            border: none;
            background: #eee;
            border-radius: 50px;
            padding-left: 2rem;
            text-align: start;
            font-weight: 600;
        }

        .checkbox_wrap {
            width: 90%;
            height: 4rem;
            font-size: 1.2rem;
            @include g.flex();
            .checkbox_left {
                .save_id {
                    @include g.flex($gap: 1rem);
                    cursor: pointer;
                    input {
                        width: 1.6rem;
                        height: 1.6rem;
                        border-radius: 50px;
                        border: 1px solid #ddd;
                    }
                }
            }
        }

        > button {
            width: 40rem;
            height: 4rem;
            border-radius: 50px;
            border: none;
            font-weight: bold;
            font-size: 1.6rem;
        }

        .login_btn {
            background: g.$subColor;
            color: #fff;
        }

        .join_btn {
            background: g.$mainColor;
        }

        .sns_login_wrap {
            @include g.flex();
            padding: 1rem 0;
            > button {
                width: 3.6rem;
                height: 3.6rem;
                padding: 0;
                img {
                    width: 3.6rem;
                    height: 3.6rem;
                }
            }
        }
    }
    > p {
        a {
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}
.crocsclub_wrap {
    padding-top: 2rem;
    width: 400px;
    margin: 0 auto;

    .section_sub_title {
        font-weight: 700;
    }

    .benefit_list {
        @include g.flex($gap: 2rem, $jc: center);
        padding: 2.4rem 0;
        li {
            img {
                width: 6rem;
            }
        }
    }

    button {
        width: 40rem;
        height: 4rem;
        border-radius: 50px;
        border: none;
        font-weight: bold;
        font-size: 1.6rem;
        background: g.$mainColor;
    }

    a {
        display: block;
        width: 40rem;
        height: 4rem;
        border-radius: 50px;
        border: none;
        font-weight: bold;
        font-size: 1.6rem;
        background: g.$mainColor;
        line-height: 4rem;
    }
}
