@use '../../App.scss' as g;

.login_wrap {
    max-width: 1200px;
    margin: 0 auto;
    // box-shadow: ;
    text-align: center;

    // .section_title {
    //     font-size: 5rem;
    // }

    .login_form {
        padding-top: 40px;
        @include g.flex($fd: column, $gap: 1rem);
        width: 400px;
        margin: 0 auto;

        > input {
            width: 40rem;
            height: 4.4rem;
            border: none;
            background: #ddd;
            border-radius: 50px;
            padding-left: 2rem;
            text-align: start;
            font-weight: 600;
        }

        .checkbox_wrap {
            width: 100%;
            height: 5rem;
            @include g.flex();
            .checkbox_left {
                .save_id {
                    @include g.flex();
                    cursor: pointer;
                    input {
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50px;
                        border: 1px solid #ddd;
                    }
                }
            }
        }

        > button {
            width: 40rem;
            height: 5rem;
            border-radius: 50px;
            border: none;
            font-weight: bold;
            font-size: 1.6rem;
        }

        .login_btn {
            background: g.$subColor;
            color: #fff;
        }

        .join_btn {
            background: g.$mainColor;
        }

        .sns_login_wrap {
            @include g.flex();

            button {
                width: 4rem;
                height: 4rem;
                padding: 0;
                img {
                    width: 4rem;
                    height: 4rem;
                }
            }
        }
    }
    > p {
        margin-top: 2rem;
        a {
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}
