@use "../../App.scss" as g;

.orderhistory_page {
  .inner {
    .title_wrap {
      width: 100%;
      margin-bottom: 5rem;
      .section_title {
        text-align: center;
      }
    }
    .user_btn_wrap {
      .user_home_btn {
        padding: 0 !important;
        background: g.$mainColor;
        color: g.$subColor;
        &:hover {
          background: g.$subColor;
          color: g.$mainColor;
        }
      }
    }
  }
}
