@use "../../App.scss" as g;

.product_list_page {
  width: 100%;
  padding: 0 2rem;

  .title_wrap {
    margin: 0 auto;
    margin-bottom: 5rem;
    width: fit-content;
  }

  .search_info_wrap {
    @include g.flex($jc: center, $gap: 10px);
    width: fit-content;
    margin: 0 auto;
    background: lightgreen;
    padding-left: 1rem;
    margin-bottom: 4rem;
    border-radius: 5px;

    .search_info {
      @include g.flex($jc: center, $gap: 10px);
      font-weight: 600;
    }
  }

  .sub_menu_wrap {
    @include g.flex($jc: center);
    margin: 5rem 0;

    .sub_menu_btn {
      border: 1px solid #ccc;
      font-weight: 600;
      font-size: 1.8rem;

      &:hover {
        background: g.$mainColor;
      }
    }
  }

  .product_list_wrap {
    width: 100%;
    @include g.flex($jc: center, $ai: flex-start);

    .list-left {
      position: sticky;
    }
    .list_right {
      width: 100%;
      .product-card__item_list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
        gap: 4rem 4rem;
      }
    }
  }

  .page_pager {
    @include g.flex($jc: center);
    margin-top: 4rem;
  }
}

.product-card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  cursor: pointer;

  .product-card__img_wrap {
    width: 100%;
    // aspect-ratio: 1 / 1;
    overflow: hidden;
    // background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;

    .product-card__img {
      width: 150px;
      // height: 100%;
      // object-fit: contain;
    }
  }

  .product-card_name_wrap {
    padding: 1rem 0 0.5rem;

    p {
      font-size: 1.4rem;
      line-height: 1.4;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      word-break: break-word;
    }
  }

  .product-card_price_wrap {
    padding: 0.5rem 0;

    .orginal-price {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
}
