@use "../../App.scss" as g;

.userinfo_page {
  .inner {
    .title_wrap {
      width: 100%;
      margin-bottom: 5rem;
      .section_title {
        text-align: center;
      }
    }
    .user_info_top {
      @include g.flex();
      margin-bottom: 5rem;

      > div {
        width: 100%;
        height: 20rem;
        flex: 1;
        background: #eee;
        border-radius: 10px;
        padding: 5rem;
      }

      .user_info_left_wrap {
        @include g.flex($jc: center, $fd: column, $ai: start, $gap: 1rem);
        p {
          font-weight: 600;
        }
        button {
          display: block;
          width: fit-content;
          height: fit-content;
          border-radius: 50px;
          border: none;
          font-weight: 700;
          background: g.$mainColor;
          padding: 2px 10px;
          margin-top: 1rem;
        }

        .club_join {
          @include g.flex();
          strong {
            display: block;
            width: fit-content;
            height: fit-content;
            border-radius: 50px;
            border: none;
            font-weight: 700;
            background: linear-gradient(135deg, g.$mainColor 0%, #b0d96e 100%);
            padding: 2px 10px;
          }
        }
      }

      .user_info_right {
        @include g.flex();
        width: 100%;

        > .coupons_text {
          flex: 1;
        }
        > .divider {
          flex: none;
        }
        > .coupon_popup_link {
          flex: 1;
        }

        .coupons_text {
          @include g.flex($fd: column, $ai: center, $jc: center, $gap: 1rem);
          strong {
            font-size: 1.8rem;
            color: g.$mainColor;
          }

          p {
            font-weight: 600;
          }
        }
        /* divider 전체 영역 */
        .divider {
          margin: 0 2rem;
          @include g.flex($jc: center);
          height: 100%;
          width: 2px;
          height: 18rem; /* 높이 조절 가능 */
          background-color: #ddd;
        }

        .coupon_popup_link {
          width: 100%;
          @include g.flex($jc: center, $ai: center);
          .view_coupons_btn {
            display: block;
            width: fit-content;
            height: fit-content;
            border-radius: 50px;
            border: none;
            font-weight: 700;
            background: linear-gradient(135deg, g.$mainColor 0%, #b0d96e 100%);
            padding: 5px 10px;
            color: #fff;
          }
        }
      }
    }

    .user_btn_wrap {
      @include g.flex($gap: 5rem);
      margin-bottom: 5rem;
      button,
      a {
        flex: 1;
        background: #eee;
        padding: 5rem 8rem;
        border-radius: 10px;
        text-align: center;

        &:hover {
          background: linear-gradient(135deg, g.$mainColor 0%, #b0d96e 100%);
          color: white;
        }

        &.active {
          background: linear-gradient(135deg, g.$mainColor 0%, #b0d96e 100%);
          color: white;
        }
      }
    }
    > div {
      margin: 50px auto;
      > .user_menu_top {
        margin-bottom: 5px;
        @include g.flex();
        h4 {
          font-size: 2rem;
        }
        a {
          font-size: 1.2rem;
          font-weight: 500;
        }
      }

      hr {
        margin-bottom: 20px;
      }
    }
    .userinfo_recentOrder_wrap {
      // overflow: hidden;
      .user_menu_bottom {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 2rem;
        .wish_card {
          @include g.flex($fd: column, $ai: unset);
          .wish_card_imgbox {
            position: relative;
            @include g.flex($jc: center, $ai: center);
            width: 100%;
            aspect-ratio: 1/1;
            border-radius: 1rem;
            border: 1px solid #eee;
            background: white;
            overflow: hidden;
            cursor: pointer;

            &:hover {
              border: 1px solid g.$mainColor;
            }

            img {
              width: 50%;
              height: 50%;
              object-fit: contain;
            }
          }
          .wish_card_textbox {
            width: 100%;
            padding: 0 1rem;
            cursor: pointer;
            .wish_card_price {
              @include g.flex();
              margin: 1rem 0;
            }
            p {
              :nth-child(2) {
                color: #9e9e9e;
                text-decoration: line-through;
                font-size: 1.4rem;
              }
            }
            .price_bottom {
              color: g.$mainColor;
              font-weight: 600;
            }
          }
        }
      }
    }

    .userinfo_recentOrder_wrap {
      overflow: hidden;
      .user_menu_bottom {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 2rem;

        &.active {
          width: 100%;
          height: 24rem;
          margin: 0 auto;
          position: relative;
          @include g.flex($jc: center);

          &::before {
            content: "";
            width: 10rem;
            height: 10rem;
            position: absolute;
            top: 50%;
            left: 50;
            transform: translateY(-50%);
            background-image: url(../../assets/images/crocs_page.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
        .wish_card {
          @include g.flex($fd: column, $ai: unset);
          .wish_card_imgbox {
            position: relative;
            @include g.flex($jc: center, $ai: center);
            width: 100%;
            aspect-ratio: 1/1;
            border-radius: 1rem;
            border: 1px solid #eee;
            background: white;
            overflow: hidden;
            cursor: pointer;

            &:hover {
              border: 1px solid g.$mainColor;
            }

            img {
              width: 50%;
              height: 50%;
              object-fit: contain;
            }
          }
          .wish_card_textbox {
            width: 100%;
            padding: 0 1rem;
            cursor: pointer;
            .wish_card_price {
              @include g.flex();
              margin: 1rem 0;
            }
            p {
              :nth-child(2) {
                color: #9e9e9e;
                text-decoration: line-through;
                font-size: 1.4rem;
              }
            }
            .price_bottom {
              color: g.$mainColor;
              font-weight: 600;
            }
          }
        }
      }
    }
    .userinfo_wishlist_wrap {
      // overflow: hidden;
      .user_menu_bottom {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 2rem;
        &.active {
          width: 100%;
          height: 24rem;
          // background: #eee;
          border-bottom: 1px solid gray;
          margin: 0 auto;
          position: relative;
          @include g.flex($jc: center);
          &::before {
            content: "";
            width: 10rem;
            height: 10rem;
            position: absolute;
            top: 50%;
            left: 50;
            transform: translateY(-50%);
            background-image: url(../../assets/images/crocs_page.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
        .wish_card {
          @include g.flex($fd: column, $ai: unset);
          .wish_card_imgbox {
            position: relative;
            @include g.flex($jc: center, $ai: center);
            width: 100%;
            aspect-ratio: 1/1;
            border-radius: 1rem;
            border: 1px solid #eee;
            background: white;
            overflow: hidden;
            cursor: pointer;

            &:hover {
              border: 1px solid g.$mainColor;
            }

            img {
              width: 50%;
              height: 50%;
              object-fit: contain;
            }
          }
          .wish_card_textbox {
            width: 100%;
            padding: 0 1rem;
            cursor: pointer;
            .wish_card_price {
              @include g.flex();
              margin: 1rem 0;
            }
            p {
              :nth-child(2) {
                color: #9e9e9e;
                text-decoration: line-through;
                font-size: 1.4rem;
              }
            }
            .price_bottom {
              color: g.$mainColor;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
