// 공통 변수
@mixin flex($jc: space-between, $ai: center, $fd: null, $fw: null, $gap: 20px) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
    flex-wrap: $fw;
    gap: $gap;
}

// 색상 변수
$mainColor: #66de1b;
$subColor: #444444;
// 사용 방법 g.$mainColor

// ===========================================

// 공통사항
html {
    font-size: 10px;
    // font-family: 'Paperlogy', '돋움', sans-serif;
    // 폰트 바꿔야 함.
}

body {
    font-size: 1.6rem;
    color: #222;
}

.wide_inner {
    max-width: 100vw;
    height: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 0 2.5%;
    @include flex();
}

.inner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2.5%;
}

section {
    height: 100vh;
    // padding-top: 10rem;
    height: calc(var(--vh, 1vh) * 100);
}

.section_title {
    font-size: 5rem;
    font-weight: 900;
    padding-top: 10rem 0 0;
}

.section_sub_title {
    font-size: 2rem;
    font-weight: 500;
}

.sub_page {
    padding-top: 12rem;
}
